:root {
  --border-radius: 15px;
}

.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  max-width: 30%;
  border-radius: var(--border-radius);
  box-shadow: 9px 9px 26px #171717, -9px -9px 26px #373737;
}

img {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
