body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
  width:100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.columns {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  order: 2;
}
.sidebar-first,
.sidebar-second {
  width: 20%;
}

.sidebar-first {
  order: 1;
}

.sidebar-second {
  order: 3;
}
