:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #f1f1f1;
  --heading-color: #292922;
  --box-shadow-left-color: #b7b7b7;
  --box-shadow-right-color: #ffffff;
  --box-shadow-left: 7px 7px 14px;
  --box-shadow-right: -7px -7px 14px;
}

[data-theme='dark'] {
  --card-color: #403f3d;
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1dd;
  --bg-color: #272727;
  --heading-color: #818cab;
  --box-shadow-left-color: #171717;
  --box-shadow-right-color: #373737;
  --box-shadow-left: 7px 7px 14px;
  --box-shadow-right: -7px -7px 14px;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.light-mode {
  margin-right: 0.8em;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#card {
  background-color: var(--card-color);
  box-shadow: var(--box-shadow-left) var(--box-shadow-left-color),
    var(--box-shadow-right) var(--box-shadow-right-color);
}
